.link {
	font-size: 20px;
	text-decoration: none;
	font-weight: 700;
}

.link-log {
	color: #3D3D3D;
}

.link-reg {
	color: #46A358;
}

p.text {
	font-size: 13px;
	color: #3D3D3D;
	text-decoration: none;
	font-weight: 400;
}

.button1 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 700;
	background-color: #46A358;
	border-radius: 5px;
	border: 1px solid #46A358;
}

.text {
	font-size: 14px;
	color: #A5A5A5;
	font-weight: 400;
	text-decoration: none;
}
.link-button {
	font-size: 13px;
	color: #727272;
	border-radius: 5px;
	border: 1px solid #EAEAEA;
}